{:dev-environ
 {:env
  {:port "8000"
   :google-tokeninfo-url "https://www.googleapis.com/oauth2/v3/tokeninfo"
   :cp-max-idle-time-excess-connections "1800"
   :cp-max-idle-time "10800"
   :db-connection-string "jdbc:postgresql://localhost/time_tracker"
   :google-client-id "128416141127-mp9b2fsq6e8bt1r3lva6cot1kdqnlof9.apps.googleusercontent.com"
   :app-log-level "debug"
   ;; If this is "*", any hosted domain will be allowed.
   :allowed-hosted-domain "nilenso.com"
   :log-file-prefix "logs/time-tracker.log"
   ;; Number of generative tests to run.
   :num-tests "1000"
   ;; For Harvest data import.
   :harvest-url "https://your-company.harvestapp.com"
   :harvest-id "your-id@your-company.com"
   :harvest-pass "your-harvest-password"
   :name "your-organization-name"
   :logo "your-organization-logo-url"
   :address "your-organization-address"
   }}

 :test-environ
 {:env
  {:port "9001"
   :db-connection-string "jdbc:postgresql://localhost/time_tracker_test"
   :app-log-level "debug"
   :allowed-hosted-domain "*"}}}
