name: Clojure CI

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

env:
  PORT: 8000
  GOOGLE_TOKENINFO_URL: https://www.googleapis.com/oauth2/v3/tokeninfo
  DB_CONNECTION_STRING: jdbc:postgresql://localhost/tt_ci?user=tt_ci_user&password=tt_ci_pwd
  CP_MAX_IDLE_TIME_EXCESS_CONNECTIONS: 1800
  CP_MAX_IDLE_TIME: 10800
  TEST_DB_USERNAME: ubuntu
  GOOGLE_CLIENT_ID: 128416141127-mp9b2fsq6e8bt1r3lva6cot1kdqnlof9.apps.googleusercontent.com
  APP_LOG_LEVEL: debug
  ALLOWED_HOSTED_DOMAIN: "*"
  LOG_FILE_PREFIX: "logs/time-tracker.log"
  NUM_TESTS: 1000
  LOGO: https://nilenso.com/images/nilenso_logos/nilenso_logo.png

jobs:
  server-build:
    services:
      postgres:
        image: postgres:12.3
        env:
          POSTGRES_DB: tt_ci
          POSTGRES_USER: tt_ci_user
          POSTGRES_PASSWORD: tt_ci_pwd
        ports:
          - 5432:5432

    runs-on: ubuntu-latest

    env:
      TIME_TRACKER_TEST_CONFIG: "config/config.ci.edn"

    steps:
    - uses: actions/checkout@v2

    - name: Cache lein deps
      uses: actions/cache@v2
      env:
        cache-name: cache-lein-deps
      with:
        path: ~/.m2
        key: ${{ env.cache-name }}-${{ hashFiles('**/project.clj') }}
        restore-keys: |
          ${{ env.cache-name }}-

    - name: Install dependencies
      run: lein deps

    - name: Run tests
      run: lein test

  frontend-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install frontend deps
      run: yarn install

    - name: Run frontend tests
      run: yarn test
